body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    height: 100vh;
    background-image: url('../img/fonas-grey.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

header {
    display: inline-block;
    margin-left: calc(50% - 470px);
    margin-top: 15px;
    width: 1000px;
    height: 50px;
}

.logotipas {
    display: inline-block;
    float: left;
    width: 50px;
}

.nav-top {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 12px;
    float: right;
}

.top-menu {
    float: left;
}

.top-menu > a {
    display: inline-block;
    line-height: 20px;
    color: white;
    text-decoration: none;
    margin-right: 45px;
    }

.top-menu > a:hover {
    color:rgb(190, 22, 22);
}

.top-icons {
    float: left;
    margin-left: 25px;
}
.top-icons > a {
    display: inline-block;
    line-height: 20px;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.top-cons > a:hover {
    border-width: 0;
    border-radius: 5px;
    background-color:rgb(190, 22, 22);
    color: black;
    
}

.tekstas {
    width: 500px;
    float: left;
    color: grey;
    font-size: 25px;
    position:absolute;
    top:100px;
    left:0px;
}

.prekes-pavadinimas {
    color:rgb(190, 22, 22);
    font-size: 70px;
    font-weight: bold;
}

.prekes-aprasymas {
    margin-top: 15px;
}

.prekes-kaina {
    margin-top: 25px;
}

.shop-now {
    margin-top: 50px;
    background-color: rgb(190, 22, 22);
    font-size: 15px;
    font-weight: lighter;
    text-transform: uppercase;
    height: 40px;
    width: 150px;
    padding: 12px;
    padding-left:35px;
    color: white;
    float: left;
}

button {
    float: left;
    margin-top: 50px;
    background-color: black;
    color: white;
    font-weight: lighter;
    border: 0px;
    height: 40px;
    width: 40px;
    padding: 2px;
}

button:hover {
    background-color: grey;
    cursor:pointer;
}

.prekes-nr {
    position: absolute;
    top :40px;
    right :80px;
    font-size: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(190, 22, 22);
    opacity: 0.1;
}

.soc-tinklai {
    display: inline-block;
    width: 10px;
    position:absolute;
    right :60px;
    top :200px;
}
.soc-tinklai > a {
    text-decoration: none;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid black;
    color: black;
    margin: 6px;
    padding-top: 4px;
    text-align: center;
    font-size:15px;
}

.slaideris {
    width: 190px;
    height: 25px;
    position: absolute;
    bottom:0px;
    left: 0px;
}

.puslapiai {
    font-size: 13px;
    color:rgb(190, 22, 22);
    font-family: Arial, Helvetica, sans-serif;
}
.psl-pirmas{
    position: absolute;
    left: 0px;
    top: 0px;
}
.psl-paskutinis{
    position: absolute;
    right: 0px;
    top: 0px;
}

.juosta {
    float: left;
    width: 100%;
    height: 4px;
    background-color: lightgrey;
    position: absolute;
    bottom: 0px;;
}
/*
.juostos-elementas-1 {
    display:inline-block;
    Height:4px;
    width: calc(100%/3);
}
.juostos-elementas-1:hover {
    background-color:rgb(190, 22, 22);
}
.juostos-elementas-2 {
    float: left;
    Height:4px;
    width: calc(100%/3);
}
.juostos-elementas-2:hover {
    background-color:rgb(190, 22, 22);
}

.juostos-elementas-3 {
    float: left;
    Height:4px;
    width: calc(100%/3);
}
.juostos-elementas-3:hover {
    background-color:rgb(190, 22, 22);
}

*/
.juostos-elementas {
    display:inline-block;
    Height:4px;
    width: calc(100%/3);
    float: left;
}
.juostos-elementas:hover {
    background-color: grey;
}
.juostos-elementas-active {
    display:inline-block;
    Height:4px;
    width: calc(100%/3);
    float: left;
    background-color:rgb(190, 22, 22);
}
.p-link{
    display: block;
    width: 100%;
    height: 4px;
}

